<h1>Your Releases</h1>

<table class="table table-striped main-table">
  <caption class="main-table-caption">
    <span class="main-table-title">2Diy4</span>
    <span class="main-table-count">55</span>
    <span class="main-table-add"><a href="#"></a></span>
    <span class="main-table-edit"><a href="#"></a></span>
    <span class="main-table-importexport"><a href="#">Import</a> or <a href="#">Export</a> contacts</span>
  </caption>
  <thead class="main-table-head">
    <tr>
      <th>Emailaddress</th>
      <th>First name</th>
      <th>Last name</th>
      <th class="main-table-btn-edit"><a href="#"></a></th>
      <th class="main-table-btn-del"><a href="#"></a></th>
    </tr>
  </thead>
  <tbody class="main-table-body">
    <tr>
      <td>info@solomun.com</td>
      <td>Solomun</td>
      <td>Numolos</td>
      <td class="main-table-btn-edit"><a href="#"></a></td>
      <td class="main-table-btn-del">
        <a href="#" rel="popover"  data-placement="bottom" data-content="<a href='#' data-dismiss='clickover' class='main-table-popover-can'>Cancel</a><a href='#123' data-dismiss='clickover' class='main-table-popover-del'>Delete</a>" data-original-title="Are you sure?"></a>
      </td>
    </tr>
    <tr>
      <td>info@solomun.com</td>
      <td>Solomun</td>
      <td>Numolos</td>
      <td class="main-table-btn-edit"><a href="#"></a></td>
      <td class="main-table-btn-del">
        <a href="#" rel="popover"  data-placement="bottom" data-content="<a href='#' data-dismiss='clickover' class='main-table-popover-can'>Cancel</a><a href='#123' data-dismiss='clickover' class='main-table-popover-del'>Delete</a>" data-original-title="Are you sure?"></a>
      </td>
    </tr>
    <tr>
      <td>info@solomun.com</td>
      <td>Solomun</td>
      <td>Numolos</td>
      <td class="main-table-btn-edit"><a href="#"></a></td>
      <td class="main-table-btn-del">
        <a href="#" rel="popover"  data-placement="bottom" data-content="<a href='#' data-dismiss='clickover' class='main-table-popover-can'>Cancel</a><a href='#123' data-dismiss='clickover' class='main-table-popover-del'>Delete</a>" data-original-title="Are you sure?"></a>
      </td>
    </tr>
    <tr>
      <td>info@solomun.com</td>
      <td>Solomun</td>
      <td>Numolos</td>
      <td class="main-table-btn-edit"><a href="#"></a></td>
      <td class="main-table-btn-del">
        <a href="#" rel="popover"  data-placement="bottom" data-content="<a href='#' data-dismiss='clickover' class='main-table-popover-can'>Cancel</a><a href='#123' data-dismiss='clickover' class='main-table-popover-del'>Delete</a>" data-original-title="Are you sure?"></a>
      </td>
    </tr>
  </tbody>
</table>