<center>
	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse!important;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;background-color:rgb(244,244,244)">
		<tbody>
			<tr>
				<td align="center" valign="top" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:30px;padding-right:20px;padding-bottom:30px;padding-left:20px">
					<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse!important;width:600px">
						<tbody>
							<tr>
								<td align="center" valign="top" style="padding-top:30px;padding-bottom:30px">
									<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:separate!important;background-color:rgb(255,255,255);border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px">
                    <tbody>
                      <tr>
                        <td colspan="3" valign="top" class="bodyContent" style="border-collapse: collapse;color:rgb(34,34,34);font-family:Helvetica Neue, Helvetica,Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;padding-top:40px;padding-right:40px;padding-bottom:0px;padding-left:40px;">
                          <table border="0" cellpadding="20" cellspacing="0" width="100%">
                            <tbody>
                              <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;color:rgb(34,34,34);font-family:Helvetica Neue, Helvetica,Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                                  <span style="color:rgb(51,51,51);font-size:30px;">Wowshit EP(Title)</span><br><br>
                                  <Strong>Diynamic #058</strong> · Release date : 12/02/2012
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" width="180"  style="border-collapse: collapse;color:rgb(34,34,34);font-family:Helvetica Neue, Helvetica,Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;padding-top:20px;padding-right:20px;padding-bottom:0px;padding-left:40px;">
                          <table border="0" cellpadding="20" cellspacing="0" width="100%">
                            <tbody>
                              <tr>
                                <td valign="top" style="border-collapse: collapse;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                                  <img src="http://s3.amazonaws.com/sndcmpgn/releases/covers/000/000/001/original/beatingheart.jpg" alt="" border="0" style="margin: 0;padding: 0;max-width: 180px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td valign="top" width="300"  style="border-collapse: collapse;color:rgb(34,34,34);font-family:Helvetica Neue, Helvetica,Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;padding-top:20px;padding-right:40px;padding-bottom:0px;padding-left:20px;">
                              <!-- // Begin Module: Top Image with Content \\ -->
                          <table border="0" cellpadding="20" cellspacing="0" width="100%">
                            <tbody>
                              <tr>
                                <td valign="top" style="border-collapse: collapse;color:rgb(34,34,34);font-family:Helvetica Neue, Helvetica,Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                                  <ul style="list-style:none;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:15px;padding-left:0px;">
                                    <li><strong>01.</strong> Karmon & NTFO - <strong>Nobody Else</strong> (Original Mix)</li>
                                    <li><strong>02.</strong> Karmon - <strong>Wowshit</strong> (Original Mix)</li>
                                    <li><strong>03.</strong> Betoko - <strong>Raining Again</strong> (Original Mix)</li>
                                  </ul>
                                  <a href ="#" style="background-color:rgb(51,51,51);color:white;text-align:center;text-decoration:none;padding-top:8px;padding-bottom:8px;padding-left:45px;padding-right:45px;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;"><strong>View Release</strong></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" valign="top" class="bodyContent" style="border-collapse: collapse;color:rgb(34,34,34);font-family:Helvetica Neue, Helvetica,Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px;background-color: #FFFFFF;">
                          <table border="0" cellpadding="20" cellspacing="0" width="100%">
                            <tbody>
                              <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;color:rgb(34,34,34);font-family:Helvetica Neue, Helvetica,Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                                With its 58th announcement, Diynamic presents a three track Various Artists EP which will surely make every club and Open Air go insane. Nobody Else is a collaboration between Netherlands export Karmon and NTFO, who already appears on the Various Artist EP and on H.O.S.H.'s latest EP. "Nobody Else" already got huge attention by the club scene.<br><br>
                                With its bouncy baseline and its driving hats highlighted by spherically playful notes "Nobody Else" immediately casts a spell over you. With his second contribution, Karmon creates a wonderful interaction between good and evil. With the funky brass synth on top of a pumping baseline "Wowshit" is a worthy employer name for this EP and a proof for of what 24 year old Karmon is capable of.<br><br>
                                On the B Side Betoko delivers a melodic dance tune. "Raining Again" convinces by a deep male vocal with is supported by dramatic organs and a bouncy baseline. To be honest, the meaning of the hook is familiar to everyone.<br><br>
                                We hope you like it!<br><br>
                                Best Diynamic
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
								</td>
							</tr>
							<tr>
								<td align="center" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse!important">
										<tbody>
											<tr>
												<td align="center" valign="top" style="color:rgb(96,96,96);font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:16px;padding-bottom:30px;adding-right:30px;text-align:right">
													Send with SoundCampaign
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>