<div class="main-label">
  <div class="main-label-top">
    <div class="main-label-img">
      <img src="assets/img/temp/person.png" />
    </div>
    <div class="main-label-header">
      <span class="main-label-header-title">2Diy4</span>
      <span class="main-label-header-count">55</span>
      <span class="main-label-header-edit">
        <a href="#"></a>
      </span>
      <span class="main-label-header-sound">
        <a href="#"></a>
      </span>
    </div>
    <div class="main-label-content">
      <p>Diynamic Music present the debut release from our brand new sister label, '2DIY4'.</p>
      <p>Launched as our very own playground, to experiment, showcase and surprise, 2DIY4 will play host creative, unique and down right chnetwork of artists being friends. It´s not only about sharing the same vision of music. It´s also about fairness.</p>
    </div>
  </div>
  <div class="main-label-info">
    <div class="main-label-label-box">
      <h4>Label Information</h4>
      <ul>
        <li>2Diy4</li>
        <li><strong>Catcode:</strong> 2DIY4#</li>
        <li><strong>Style:</strong> Deephouse</li>
      </ul>
    </div>
    <div class="main-label-contact-box">
      <h4>Contact Information</h4>
      <ul>
        <li>2Diy4</li>
        <li><strong>Catcode:</strong> 2DIY4#</li>
        <li><strong>Style:</strong> Deephouse</li>
      </ul>
      <ul>
        <li>2Diy4</li>
        <li><strong>Catcode:</strong> 2DIY4#</li>
        <li><strong>Style:</strong> Deephouse</li>
      </ul>
    </div>
  </div>
</div>