<div class="main-label edit">
  <div class="main-label-top">
    <div class="main-label-img-drop">
      <span class="main-label-img-info">
        Drag & drop image here
      </span>
      <span class="main-label-img-info">
        230px by 230px works best
      </span>
    </div>
    <div class="main-label-header">
      <span class="main-label-header-title">
        <input type="text" placeholder="Label name...">
      </span>
      <span class="main-label-header-accept">
        <a href="#"></a>
      </span>
      <span class="main-label-header-cancel">
        <a href="#"></a>
      </span>
    </div>
    <div class="main-label-content ">
      <textarea rows="3"></textarea>
    </div>
  </div>
  <div class="main-label-info">
    <div class="main-label-label-box">
      <h4>Label Information</h4>
      <ul>
        <li><input type="text" placeholder="Type something…"></li>
        <li>
          <div class="input-prepend">
            <span class="add-on">Catid</span>
            <input class="span2" id="prependedInput" type="text" placeholder="Username">
          </div>
        </li>
        <li>
          <div class="input-prepend">
            <span class="add-on">Style</span>
            <input class="span2" id="prependedInput" type="text" placeholder="Username">
          </div>
        </li>
      </ul>
    </div>
    <div class="main-label-contact-box">
      <h4>Contact Information</h4>
      <ul>
        <li>
          <input type="text" placeholder="Type something…">
        </li>
        <li>
          <input type="text" placeholder="Type something…">
        </li>
        <li>
          <input type="text" placeholder="Type something…">
        </li>
      </ul>
      <ul>
        <li>
          <input type="text" placeholder="Type something…">
        </li>
        <li>
          <input type="text" placeholder="Type something…">
        </li>
        <li>
          <input type="text" placeholder="Type something…">
        </li>
      </ul>
    </div>
  </div>
</div>
