<h1>Your Releases</h1>
<div class="releases">
  <div class="top">
    <span class="title">2Diy4</span>
    <span class="number">55</span>
  </div>
  <div class="bar">
    Pending releases
  </div>
  <ul>
    <li>
      <span class="title">
        <strong>2Diy4 #002 - Wowshit EP</strong> (Karmon, Ntfo, Betoko)
      </span>
      <a href="#" class="edit"></a>
      <a href="#" class="public"></a>
      <a href="#" class="send"></a>
    </li>
    <li>
      <span class="title">
        <strong>2Diy4 #002 - Wowshit EP</strong> (Karmon, Ntfo, Betoko)
      </span>
      <a href="#" class="edit"></a>
      <a href="#" class="public"></a>
      <a href="#" class="send"></a>
    </li>
    <li>
      <span class="title">
        <strong>2Diy4 #002 - Wowshit EP</strong> (Karmon, Ntfo, Betoko)
      </span>
      <a href="#" class="edit"></a>
      <a href="#" class="public"></a>
      <a href="#" class="send"></a>
    </li>
  </ul>
  <div class="bar">
    Sent releases
  </div>
  <ul class="sent">
    <li>
      <span class="title">
        <strong>2Diy4 #002 - Wowshit EP</strong> (Karmon, Ntfo, Betoko)
      </span>
      <a href="#" class="feedback"></a>
      <a href="#" class="switch"></a>
      <a href="#" class="public"></a>
      <a href="#" class="remove"></a>
    </li>
    <li>
      <span class="title">
        <strong>2Diy4 #002 - Wowshit EP</strong> (Karmon, Ntfo, Betoko)
      </span>
      <a href="#" class="feedback"></a>
      <a href="#" class="switch"></a>
      <a href="#" class="public"></a>
      <a href="#" class="remove"></a>
    </li>
  </ul>
</div>
