<div class="release-campaign">
  <div class="release-header">
    <span class="release-header-title">2Diy4</span>
  </div>
  <div class="release-steps">
    <span class="release-step">1. Campaign information</span>
    <span class="release-step">2. Preview campaign</span>
    <span class="release-step release-step-active">3. Recipients & Confirm</span>
  </div>
  <div class="release-content">
    <form class="form-horizontal">
      <div class="release-content-group">
        <span class="release-content-title">Here is the overview of your campaign</span>
        <p>Check if everything is correct. If not you can return to a previous step and make changes.<span class="right"><input class="send-campaign-directly" type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked> Send campaign directly</span></p>
      </div>
      <div class="release-content-group">
        <span class="release-content-title">Campaign Summary</span>
        <ul class="release-campaign-info">
          <li><span>Name :</span>  2Diy4 #001 - Wowshit EP</li>
          <li><span>Subject :</span>   Brand new release by 2Diy4 #001 - Wowshit EP</li>
          <li><span>From :</span>  solomun@diynamic.com</li>
        </ul>
        <button class="release-campaign-view-btn btn btn-primary">View release page</button>
      </div>


      <div class="release-content-group form-inline">
        <span class="release-content-title">Preview test email</span>
        <p>Comma separate email addresses to send to multiple accounts at once. 6 emails at a time and a maximum of 12 test emails per campaign.</p>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Name</label>
          <div class="controls">
            <input type="text" id="inputEmail" placeholder="Name">
              <button type="submit" class="release-campaign-view-btn btn btn-primary">Send preview</button>
          </div>
          
        </div>
      </div>
      


    </form>
  </div>
  <div class="release-footer">
    <button class="btn btn-large" type="button">Finish</button>
  </div>

</div>
