<div class="release">
  <div class="release-header">
    <span class="release-header-title">2Diy4</span>
  </div>
  <div class="release-steps">
    <span class="release-step">1. Campaign information</span>
    <span class="release-step release-step-active">2. Choose mailtemplate</span>
    <span class="release-step">3. Define Recipients</span>
    <span class="release-step">4. Preview campaign</span>
    <span class="release-step">5. Confirm & Save</span>
  </div>
  <div class="release-content">
    <form class="form-horizontal">
      <div class="release-content-group">
        <span class="release-content-title">Choose a mailtemplate</span>
        <p>We have beautiful predesigned templates for u to use</p>
        <div class="release-templates-group">
          <div class="release-template">
            <img src="assets/img/icons/template_1.png">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          </div>
          <div class="release-template">
            <img src="assets/img/icons/template_2.png">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          </div>
          <div class="release-template">
            <img src="assets/img/icons/template_3.png">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          </div>
          <div class="release-template">
            <img src="assets/img/icons/template_4.png">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="release-footer">
    <button class="btn btn-large" type="button">Next Step</button>
  </div>
</div>
