<div class="teaser teaser_thankyou">
  <div class="content">
    <div class="teaser-intro">
      <h1>Thank you for signing up to the betalist.</h1>
      <h2>While we get ready for lift off you might be interested in staying up to date with our progress.</h2>
      <a href="<%= Settings.urls.blog %>" class="visit_blog">Visit our blog</a>
    </div>
  </div>
</div>
<div class="teaser-content">
  <div class="content">
    <div class="teaser-attention">
      <p>We are currently in <strong>private beta</strong>, Sound Campaign will be publicly available soon.</p>
      <p>If you want to stay informed enter your email adres above and keep an eye on our <a href="<%= Settings.urls.blog %>">blog</a></p>
    </div>
    <div class="teaser-box teaser-card">
      <h3>Pricing</h3>
      <span>Coming soon!</span>
    </div>
    <div class="teaser-box teaser-star">
      <h3>Features</h3>
      <span>Coming soon!</span>
    </div>
    <div class="teaser-box teaser-cursor">
      <h3>Try it</h3>
      <span>Coming soon!</span>
    </div>
  </div>
</div>