<div class="teaser">
  <div class="content">
    <div class="teaser-content">
      <h1>Music promotion the beautiful and easy way.</h1>
      <h2>Sound Campaign is an online promotion tool for labels and music professionals. Send audio campaigns with functional e-mail templates and beautiful online pages.</h2>
    </div>
  </div>
  <div class="teaser-images">
    <%= image_tag("teaser_mbp.png", :alt => "Teaser mbp", :class => "teaser-mpb") %>
    <%= image_tag("teaser_ipad.png", :alt => "Teaser ipad", :class => "teaser-ipad") %>
    <%= image_tag("teaser_htc.png", :alt => "Teaser htc", :class => "teaser-htc") %>
 </div>
</div>
<div class="teaser-content">
  <div class="content">
    <div class="teaser-box">
    </div>
    <div class="teaser-box">
    </div>
    <div class="teaser-box">
    </div>
  </div>
</div>