.cover-box {
  $cover-box-header-height: $baseLineHeight * 2;
  
  border: 1px solid #b7b7b7;
  background: white;
  position: relative;
  @include border-radius(3px);
  @include box-shadow(rgba(100,100,100, 0.3) 0 1px 1px);
  @include clearfix;
  
  // TOP:
  
  .top {
    padding-left: $cover-box-cover-dimensions;
    min-height: $cover-box-cover-dimensions;
    position: relative;
  }
  
  // IMAGE:
  
  .cover, .cover-drop {
    width:  $cover-box-cover-dimensions;
    height: $cover-box-cover-dimensions;
    @include border-radius(3px 0px 0px 0px);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    
    img {
      display: block;
      position: relative;
      top: 1px;
      z-index: 9;
      @include border-radius(3px 0px 0px 0px);
      @include box-shadow(inset 0 0 5px red);
    }
  }
  
  .cover {
    &:after { 
      @include border-radius(3px 0px 0px 0px);
      display: block;
      content: '';
      border-top: 1px solid rgba(255,255,255, 0.7);
      height: 100%; 
      width: 100%;
      @include box-sizing(border-box);
    }
  }
  
  .cover-drop {
    background: #2c2c2c;
    @include box-shadow(inset 0px 0px 3px 2px rgba(0,0,0, 0.3));
    
    .qq-uploader {
      position: relative;
    
      .qq-upload-drop-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
      }
    
      .qq-upload-drop-area-active {
        background: lighten(#ebebeb, 2.5%);
      }
    
      .qq-drop-processing, .qq-upload-list {
        display: none;
      }
    
      input[type=file] {
        width: 100%;
        height: 100%;
      }
    }
    
    &.uploading, &.upload-started {
      .cover-drop-label {
        display: none;
      }
    }
  }
  
  .cover-drop-label {
    background: rgba(#2c2c2c, 0.4) image-url('icons/paperclip.png') 50% 36% no-repeat;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: $cover-box-cover-dimensions;
    height: $cover-box-cover-dimensions;
    margin: 0;
    z-index: 10;
    text-shadow: 1px 1px black;
    
    @include media-retina {
      background: rgba(#2c2c2c, 0.4) image-url('icons/paperclip@2x.png') 50% 36% no-repeat;
      background-size: 32px 32px;
    }
  }
  
  .cover-preview {
    display: block;
    width: $cover-box-cover-dimensions;
    height: $cover-box-cover-dimensions;
    
    .filename {
      color: white;
      text-align: center;
      display: block;
      margin-top: $baseLineHeight * 3.5;
    }
    
    .loader {
      display: block;
      width: 175px;
      margin: $baseLineHeight auto;
      height: $baseLineHeight / 2;
      @include border-radius(5px);
      border: 1px solid white;
      position: relative;
      
      .loader-inner {
        position: absolute;
        float:left;
        height: 10px;
        @include border-radius(4px);
        background-color: white;
      }
    }
  }
  
  .cover-info {
    display: block;
    position: relative;
    top:115px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 11px;
    z-index: 1;
    margin: 0;
    padding: 0;
    
    &:first-child {
      font-weight: 600;
      font-size: 13px;
    }
  }
  
  // TITLE:
  
  .header {
    @include box-header;
    border-top: 1px solid #207aa0;
    border-left-width: 0;
    margin: -1px -1px 0 0;
  }
  
  // ACTIONS:
  
  .header-action {
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    background-color: green;
    height: $cover-box-header-height;
    width: $gridColumnWidth * 1.25;
    border: 0;
    border-left: 1px solid #0f71a6;
    @include box-shadow(inset 1px 0px 1px rgba(255,255,255, 0.4));
    text-indent: -3000em;
    position: relative;
    z-index: 10;
    
    &:first-child {
      @include border-radius(0px 3px 0px 0px);
    }
  }
  
  // CONTENT:
  
  .content {
    padding: ($baseLineHeight / 2 - 1) ($gridColumnWidth / 2);
    font-size: 13px;
    overflow-x: hidden; 
    position: relative;
  }
  
  // EDITABLE:
  
  &.edit {
    h4 {
      color: #2a2a2a;
    }
    
    input[type=text], select {
      width: 170px;
    }
    
    .input-prepend {
      margin-bottom: $baseLineHeight / 2;
    }
    
    .input-prepend input {
      width: $gridColumnWidth * 3;
    }
    
    .header {
      border-color: black;
    }
    
    .title {
      padding-left: 0;
      float: none;
      
      input[type="text"] {
        display: block;
        height: 40px;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        border-left: 1px solid black;
        text-indent: $gridColumnWidth / 2;
        background: #2c2c2c;
        font-weight: bold;
        color: white;
        font-size: 15px;
        position: relative;
        z-index: 10;
        @include border-radius(0px);
        @include box-shadow(inset 0px 0px 3px 2px rgba(0,0,0, 0.3));
      }
    }
    
    .content {
      background: #f4f4f4;
      
      textarea {
        background: #f4f4f4;
        width: 100%;
        height: 100%;
        border:0;
        @include box-shadow(none);
        resize: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
      }
    }
  }
}