.errorExplanation {
  background: white;
  border: 2px solid red;
  margin: 0 0 $baseLineHeight/2 0;
  padding: $baseLineHeight/2 - 2;
  @include border-radius(4px);
  
  h2 {
    font-size: 18px;
    line-height: $baseLineHeight;
    margin: 0 0 $baseLineHeight/4 0;
    color: red;
  }
  
  p {
    margin: 0 0 $baseLineHeight/4 0;
  }
  
  ul {
    list-style-type: square;
    margin-top: 0;
    margin-bottom: 0;
  }
}