.flash {
  color: #332a06;
  line-height: $baseLineHeight;
  padding: $baseLineHeight/2 0;
  text-align: center;
  
  p {
    margin: 0;
    padding: 0;
    line-height: $baseLineHeight;
    display: inline;
    font-weight: bold;
  }
  
  &.alert {
    color :#332a06;
    background: #fff400;
    @include background-image(linear-gradient(#ffee00, #ffc100));
    border-top: 1px solid #fffe00;
    border-bottom: 1px solid #b3b3b3;
  }
  
  &.error {
    background: #cf3839;
    @include background-image(linear-gradient(#f44058, #e00e13));
    border-top: 1px solid #00fe00;
    border-bottom: 1px solid #b3b3b3;
  }
  
  &.notice {
    color: #fff;
    background: #37c338;
    @include background-image(linear-gradient(#414141, #2f2f2f));
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #b3b3b3;
  }
}
