.main-label {
  $cover-dimensions: $gridColumnWidth * 5.5;
  $header-height: $baseLineHeight * 2;
  
  border: 1px solid #b7b7b7;
  background: white;
  position: relative;
  @include border-radius(3px);
  @include box-shadow(rgba(100,100,100, 0.1) 1px 1px 2px 1px);
  @include clearfix;
  
  // TOP:
  
  .main-label-top {
    padding-left: $cover-dimensions;
    height:       $cover-dimensions;
    position: relative;
  }
  
  // IMAGE:
  
  .main-label-img, .main-label-img-drop {
    width:  $cover-dimensions;
    height: $cover-dimensions;
    @include border-radius(3px 0px 0px 0px);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
  }
  
  .main-label-img {
    &:after { 
      @include border-radius(3px 0px 0px 0px);
      display: block;
      content: '';
      border-top: 1px solid rgba(255,255,255, 0.7);
      height: 100%; 
      width: 100%;
      @include box-sizing(border-box);
    }
    
    img {
      display: block;
      position: relative;
      z-index: 9;
      @include border-radius(3px 0px 0px 0px);
      @include box-shadow(inset 0 0 5px red);
    }
  }
  
  .main-label-img-drop {
    background: image-url('icons/paperclip.png') 50% 36% no-repeat #2c2c2c;
    @include box-shadow(inset 0px 0px 3px 2px rgba(0,0,0, 0.3));
  }
  
  .main-label-img-info {
    display: block;
    position: relative;
    top:115px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 11px;
    
    &:first-child {
      font-weight: 600;
      font-size: 13px;
    }
  }
  
  // TITLE:
  
  .main-label-header {
    display: block;
    height: $header-height - 1;
    line-height: $header-height - 1;
    border-bottom: 1px solid rgba(0,0,0, 0.9);
    @include background-image(linear-gradient(#00a6ff, #008cd8)); 
    @include border-radius(0px 2px 0px 0px);
    overflow: hidden;
    
    &:after {
      @include border-radius(0px 3px 0px 0px);
      display: block;
      content: '';
      border-top: 1px solid rgba(255,255,255, 0.7);
      height: 100%;
      width:  100%;
      @include box-sizing(border-box);
    }
  }
  
  .main-label-header-title {
    padding-left: $gridColumnWidth / 2;
    float: left;
    font-size: 17px;
    font-weight: bold;
    color: white;
    @include text-shadow(rgba(15,102,149, 0.9) 0px 0px 2px);
  }
  
  .main-label-header-count {
    float: left;
    background: #007dc0;
    color: white;
    height: 18px;
    margin: 11px 11px;
    padding: 0 8px;
    line-height: 19px;
    text-indent: 0;
    font-size: 11px;
    font-weight: bold;
    @include border-radius(10px);
    @include box-shadow(rgba(99,99,99, 0.5) 0px 1px 5px 1px inset); 
    border-bottom: 1px solid rgba(255,255,255, 0.4);
  }
  
  // ACTIONS:
  
  .main-label-header-action {
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    background-color: green;
    height: $header-height;
    width: $gridColumnWidth * 1.25;
    border: 0;
    border-left: 1px solid #0f71a6;
    @include box-shadow(inset 1px 0px 1px rgba(255,255,255, 0.4));
    text-indent: -3000em;
    
    &:first-child {
      @include border-radius(0px 3px 0px 0px);
    }
  }
  
  .main-label-header-sound {
    background: image-url("icons/music.png") 50% 50% no-repeat;
  }
  .main-label-header-edit {
    background: image-url("icons/pencil.png") 50% 50% no-repeat;
  }
  .main-label-header-cancel {
    @include background-image(image-url("icons/cancel.png") ,linear-gradient(#cf4848, #cf3839));
    border-left: 1px solid black;
  }
  .main-label-header-accept {
    @include background-image(image-url("icons/accept.png"),linear-gradient(#46c346, #2dc338));
    border-left: 1px solid black;
  }
  
  // CONTENT:
  
  .main-label-content {
    padding: ($baseLineHeight / 2 - 1) ($gridColumnWidth / 2 - 1);
    font-size: 13px;
    height: ($cover-dimensions - $header-height) - $baseLineHeight + 2;
    overflow: auto;
    position: relative;
  }
  
  // INFO
  
  .main-label-info {
    font-size: 13px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    margin-left: $cover-dimensions - 1;
    position: relative;
    @include clearfix;
    
    h4 {
      color:#008eda;
      font-size: 13px;
      font-weight: bold;
      border-bottom: 1px solid #e7e7e7;
      padding: ($baseLineHeight - 1) ($gridColumnWidth / 2);
      margin: 0;
    }
    
    ul {
      float:left;
      list-style: none;
      margin: ($baseLineHeight * 0.75) ($gridColumnWidth / 2);
      padding: 0;
      width: $gridColumnWidth * 5;
    }
  }
  
  .main-label-label-box {
    border-top: 1px solid #e7e7e7;
    position: absolute;
    left: (-$cover-dimensions);
    top: -1px;
    width: $cover-dimensions;
  }
  
  .main-label-contact-box {
    z-index: 10;
  }
  
  // EDITABLE:
  
  &.edit {
    h4 {
      color: #2a2a2a;
    }
    
    input[type=text] {
      width: 170px;
    }
    
    .input-prepend {
      margin-bottom: $baseLineHeight / 2;
    }
    
    .input-prepend input {
      width: $gridColumnWidth * 3;
    }
    
    .main-label-header-title {
      padding-left: 0;
      float: none;
      
      input {
        display: block;
        height: 40px;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        border-left: 1px solid black;
        text-indent: $gridColumnWidth / 2;
        background: #2c2c2c;
        font-weight: bold;
        color: white;
        font-size: 15px;
        @include border-radius(0px);
        @include box-shadow(inset 0px 0px 3px 2px rgba(0,0,0, 0.3));
      }
    }
    
    .main-label-content {
      background: #f4f4f4;
      
      textarea {
        background: #f4f4f4;
        width: 100%;
        height: 100%;
        border:0;
        @include box-shadow(none);
        resize: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
      }
    }
  }
}
