.logo {
  float: left;
  height: 50px;
  width: 183px;
  margin: 0;
  padding: 0;
  @include user-select(none);
  background: image-url('icons/logo.png') left center no-repeat;
  background-size: 183px 24px;
  text-indent: -3000em;
  
  @include media-retina {
    background-image: image-url('icons/logo@2x.png');
  }
  
  .page-public-release & {
    background: image-url('icons/logo-on-black.png') left center no-repeat;
      @include media-retina {
        background-image: image-url('icons/logo-on-black@2x.png');
      }
    @include modular-mq(LandscapePhone-PortraitTable) {
      margin-left: $gridColumnWidth / 2 - 2;
    }
  }
}