.release-background {
  height:252px;
  position: relative;
  z-index: 1;
}


.release-cover {
  @include box-shadow(rgba(black, 0.3) 0 1px 2px);
  border: 1px solid #2d2d2d;
  width: 100%;
  @include border-radius(3px);

  img {
    @include border-radius(3px);
    display: block;
  }

  @include modular-mq(LandscapePhone-PortraitTable) {
      width: 99px;
      margin:15px;
      position: absolute; 
    }
}

.page-public-release {
  .content-wrapper{
    position: relative;
    z-index: 3;
    margin-top: -228px;
    transition: all 0.5s ease;
    @include modular-mq(PortraitTablets-Desktop) {
      width: 760px;
    }
    @include modular-mq(LandscapePhone-PortraitTable) {
      width: auto;
      margin-top: -400px;
      padding:0;
    }
  }
  
  .account-nav img {
    @include box-shadow(rgba(black, 1) 0 0 1px 1px);
  }
  
  .login-btn {
    display: none;
  }
  
  aside {
    @include modular-mq(LandscapePhone-PortraitTable) {
      position: relative;
      width: auto;
      float: none;
      margin:0;
    }
  }
}

.page-public-release .release-content {
  border: none;
  float:right;
  width:729px;
  margin:20px 0;
  transition: all 0.5s ease;

  @include modular-mq(PortraitTablets-Desktop) {
      width: 760px;
      float: right;
    }
   @include modular-mq(LandscapePhone-PortraitTable) {
     width: auto;
     padding: 0 15px;
   }

   p {
     font-size: 16px;
     margin-top: 40px;
     line-height: 24px;
   }
}

.release-info {

  h3 {
    font-size: 16px;
  }
  ul {
    list-style: none;
    margin: 0 0 15px 0;
  }
  @include modular-mq(LandscapePhone-PortraitTable) {
      display:none;
    }
}
