.release-player {
  float:right;
  @include makeColumn(18, 0.5);
  @include box-shadow(rgba(black, 0.2) 0 2px 3px);
  
  &.player-loading {
    // Overwrites when player is loading a track:
    .player .controls .playpause.playing {
      @include background-image(image-url("icons/player_loading_spinner.gif"), linear-gradient(#404040, #2d2d2d));
    }
  }
  
  @include modular-mq(PortraitTablets-Desktop) {
    @include makeColumn(12, 0.5);
    float: right;
  }
  
  @include modular-mq(LandscapePhone-PortraitTable) {
    position: relative;
    top: 0;
    float: none;
    width: auto;
    margin: 0;
    
    .releases {
      @include border-radius(0);
    }
    
    &.release-player-no-feedback {
      margin-bottom: 0;
    }
  }
  
  .faux-table {
    border:1px solid #111110;
  }
  
  .top {
    @include background-image(linear-gradient(#333333, #2e2e2e));
    border:none;
    border-bottom:1px solid #111110;
    
    &:after {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  
  .player {
    position: relative;
    @include background-image(linear-gradient(rgba(51,51,51, 0.85), rgba(46,46,46, 0.85)));
    @include box-shadow(inset rgba(white, 0.2) 0 1px 2px);
    @include clearfix;
    border-bottom: 1px solid #111110;
    
    .timeline {
      position: relative;
      margin: 7px 8px 0px 7px;
      background: white;
      height: $baseLineHeight / 2 - 2;
      border: 1px solid #100e0c;
      @include box-shadow(rgba(white, 0.2) 0 1px 2px);
      
      &.has-waveform {
        height: 90px;
      }
      
      .waveforms {
        position: absolute;
        z-index:1;
        width: 100%;
        height: 100%;
        
        .waveform-wrapper {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          
          svg {
            width: 100%;
            height: 100%;
            shape-rendering: crispEdges;
          }
        }
      }
      
      .loader {
        position: absolute;
        height: 100%;
        z-index: 4;
        background: rgba(0,136,211, 0.2);
        width: 0%;
        max-width: 100% !important;
      }
      
      .location {
        position: absolute;
        z-index:3;
        left: -2px;
        border-right: 2px solid orange;
        width: 0%;
        max-width: 100%;
        height: 100%;
        left: 0%;
        cursor: pointer;
      }
    }
    
    .controls {
      position: relative;
      float: left;
      width:96px;
      height:42px;
      margin: 3px 10px;
      
      .left {
        position: absolute;
        left:0;
        top:5px;
        z-index: 1;
        display: block;
        width:30px;
        height:30px;
        @include border-radius(20px 0 0 20px);
        @include background-image(image-url("icons/left.png"), linear-gradient(#404040, #2d2d2d));
        background-position: center;
        background-repeat: no-repeat;
        @include box-shadow(inset rgba(white, 0.3) 0 1px 1px);
        border:1px solid #090807;
        cursor: pointer;
      }
      
      .playpause {
        position: absolute;
        left:26px;
        top:0;
        z-index: 2;
        display: block;
        width:40px;
        height:40px;
        @include border-radius(20px);
        background-position: center;
        background-repeat: no-repeat;
        @include box-shadow(inset rgba(white, 0.3) 0 1px 1px);
        border:1px solid #090807;
        cursor: pointer;
        
        &.playing {
          @include background-image(image-url("icons/pause.png"), linear-gradient(#404040, #2d2d2d));
        }
        
        &, &.paused {
          @include background-image(image-url("icons/play.png"), linear-gradient(#404040, #2d2d2d));
        }
      }
      
      .right {
        position: absolute;
        left:62px;
        top:5px;
        z-index: 1;
        display: block;
        width:30px;
        height:30px;
        @include border-radius(0 20px 20px 0);
        @include background-image(image-url("icons/right.png"), linear-gradient(#404040, #2d2d2d));
        background-position: center;
        background-repeat: no-repeat;
        @include box-shadow(inset rgba(white, 0.3) 0 1px 1px);
        border:1px solid #090807;
        cursor: pointer;
      }
    }
    
    .time {
      height:42px;
      line-height: 42px;
      margin: 3px 10px;
      color:white;
      text-shadow: 1px 1px black;
      font-size: 12px;
      overflow: hidden;
    }
    
    .volume {
      float: right;
      margin: 8px 10px;
        display: block;
        width:30px;
        height:30px;
        @include border-radius(20px);
        @include background-image(image-url("icons/volume.png"), linear-gradient(#404040, #2d2d2d));
        background-position: center;
        background-repeat: no-repeat;
        @include box-shadow(inset rgba(white, 0.3) 0 1px 1px);
        border:1px solid #090807;
        cursor: pointer;
    }
  }
  
  .bar {
    @include background-image(linear-gradient(#333333, #2e2e2e));
    border:1px solid #060606;
    border-top:1px solid #494949;
    height:31px;
    line-height:31px;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
    @include box-sizing(border-box);
    
    &:hover {
      border-top:1px solid #363636;
    }
    
    .player-track-title {
      cursor: pointer;
      overflow: hidden;
    }
    
    .star {
      float:right;
      transition: all 0.5s ease;
      padding: 0 10px;
      img {
        height: 16px;
        width: 16px;
      }
    }
    
    .download {
      float:right;
      width: 40px;
      height: 100%;
      display: block;
      border-left:1px solid #0d0d0d;
      background: image-url("icons/download-release.png") center no-repeat;
      text-indent: -3000em;
      cursor:pointer;
      transition: all 0.5s ease;
      &:hover {
        background: image-url("icons/download-release-hover.png") center no-repeat;
      }
    }
    
    .download-release {
      float: right;
      margin-right:42px;
      color:white;
      text-decoration: underline;
      font-weight: normal;
      cursor: pointer;
    }
  }
  
  .feedback {
    padding: 0 18.5px;
    @include background-image(linear-gradient(#333333, #2e2e2e));
    border:1px solid #060606;
    border-top: none;
    @include box-shadow( inset rgba(black, 0.3) 0 2px 3px);
    @include clearfix;
    
    span {
      float: left;
      font-size: 16px;
      color: white;
      font-weight: bold;
      padding:10px 0;
    }
    
    textarea {
      background: #2c2c2c;
      border: 1px solid #1a1a1a;
      @include border-radius(3px);
      @include box-sizing(border-box);
      color: #dfdfdf;
      width: 100%;
      height: 100%;
      resize: none;
      overflow: hidden;
      padding: 5px;
      margin: 0;
    }
    
    .btn {
      float: right;
      margin: 10px 0;
      font-size: 12px;
      font-weight: bold;
      @include background-image(linear, to bottom, #0489d3, #046da6);
    }
  }
}
