.release-metrics {
  background: #fff;
  padding: ($baseLineHeight/2 - 1) ($gridColumnWidth/2 - 1);
  border: 1px solid #b3b3b3;
  @include border-radius(3px);
  @include box-shadow(rgba(black, 0.3) 0 1px 2px);
  
  .quick-metrics {
    background: #fcfcfc;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin: ($baseLineHeight - 1) (0 - ($gridColumnWidth / 2 - 1));
    padding: 0;
    
    ul {
      @include clearfix;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      padding: ($baseLineHeight/2) ($gridColumnWidth);
      float: left;
      text-align: center;
      border-left: 1px solid #e6e6e6;
      
      &:first-child {
        border-left: 0;
      }
    }
    
    strong {
      display: block;
      font-size: 24px;
      line-height: $baseLineHeight * 1.5;
    }
  }
}

.release-feedbacks {
  ol {
    @include container-fixed;
    width: $gridColumnWidth * 16;
    margin-top: $baseLineHeight * 2.5;
    list-style: none;
    .feedback {
      border-top: 1px solid #d9d9d9;
      padding:0 0 30px 0;
      font-size:14px;
      color: #323232;
      .feedback-header {
        font-weight: 600;
        width: 100%;
        height: $baseLineHeight * 3.5;
        line-height: $baseLineHeight * 3.5;
        .feedback-header-gravatar {
          float: left;
          margin-right: 10px;
          img {
            max-height: 44px;
            border: 1px solid #727272;
            border-radius: 3px;
          }
        }
        .feedback-header-name {
          float: left;
        }
      }
    }
  }
}
