.section-header {
  line-height: $baseLineHeight * 3;
  @include clearfix;
  
  .section-header-title {
    font-size: 21px;
    font-weight: bold;
    float: left;
  }
  
  .section-header-options {
    float: right;
    font-size: 13px;
  }
}
