.teaser {
	width: 100%;
	height: 696px;
	@include background-image(image-url("bg_teaser.jpg"));
	@media screen and (min-width: 1790px) {
		 background-size: 100% 100%;
	}
	background-position: 50% 50%;
	overflow: hidden;
	position: relative;
	&:after{
		box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.9);
	}
	.content {
		margin-left: 0px;
		margin-right: auto;
		margin-left: auto;
		width: 984px;
		height: 696px;
		
		.teaser-intro {
			width: 490px
		}
		h1, h2 {
			width: 100%;
			float: left;
			}
		h1 {
			color: #fffef5;
			font-size:40px;
			font-family: "ff-max-web",sans-serif;
			font-weight: 400;
			line-height: 58px;
			margin-top: 128px;
			}
		h2 {
			color: #f4f4f4;
			font-size: 18px;
			font-family: "ff-max-web",sans-serif;
			font-weight: 300;
			line-height: 29px;
			margin-top: 19px;
			margin-bottom: 55px;
			}
		}
	.teaser-images {



		
		img {
			position: absolute;
			left: 60%;
			bottom: 0;
			max-width: initial;
			opacity: 0;
			@include animation-name(teaser-devices);
			@include animation-duration(30.0s);
			@include animation-timing-function(ease);
  		@include animation-iteration-count(infinite);
		}	
	}
}


.teaser-ipad {
	@include animation-delay(0s);
}
.teaser-htc {
	@include animation-delay(10.0s);
}
.teaser-mbp {
	@include animation-delay(20.0s);
}



@include keyframes(teaser-devices) {
  0% {
    left:70%;
    opacity: 0;
  }
  10% {
  	left:60%;
    opacity: 1;
  }
  33% {
  	left:60%;
    opacity: 1;
  }
  35% {
  	opacity: 0;
  }
  100% {
    opacity: 0;
  }
}









.teaser-content {
	float: left;
	width: 100%;
	background: #f4f4f4;
	.content {
		margin-left: 0px;
		margin-right: auto;
		margin-left: auto;
		width: 984px;
		cursor: default;
		.teaser-attention {
			font-size: 14px;
			color: #454c57;
			background: #e2e4e7;
			width: $gridColumnWidth * 24 - 2;
			height: 39px;
			line-height: 39px;
			text-align: center;
			border: 1px solid #cdcfd1;
			margin: 17px 0;
			@include border-radius(5px);
		}
		.teaser-box {
			cursor: pointer;
			float: left;
			width: $gridColumnWidth * (22/3) - 2;
			height: 140px;
			background:white;
			border: 1px solid #e6e6e6;
			@include border-radius(5px);
			margin-right: $gridColumnWidth;
			margin-bottom: 220px;
			@include transition (background-position 0.2s ease);
			&:last-child {
				margin-right:0;
			}
			&:hover {
				background-position: 50% 23px;
				background-color: #fbfbfb;
			}
			h3 {
				width: 100%;
				text-align: center;
				margin-top: 60px;
				margin-bottom: 0;
				font-size: 18px;
				font-weight: 600;
			}
			span {
				width: 100%;
				text-align: center;
				display: block;
			}

		}
		.teaser-card {
				@include background-image(image-url("icons/teaser-card.png"));
				background-repeat: no-repeat;
				background-position: 50% 29px;
			}
		.teaser-star {
				@include background-image(image-url("icons/teaser-star.png"));
				background-repeat: no-repeat;
				background-position: 50% 29px;
			}
		.teaser-cursor {
				@include background-image(image-url("icons/teaser-cursor.png"));
				background-repeat: no-repeat;
				background-position: 50% 29px;
			}
	}
}

.form-inline .input-beta-access {
	width: 200px;
	padding: 8px;
	margin-right: 10px;

}
