.teaser {
	width: 100%;
	height: 696px;
	@include background-image(image-url("bg_teaser.jpg"));
	@media screen and (min-width: 1790px) {
		background-size: 100% 100%;
	}
	background-position: 50% 50%;
	overflow: hidden;
	position: relative;
	&:after{
		box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.9);
	}
	&.teaser_thankyou {
		@include background-image(image-url("bg_teaser_thankyou.jpg"));
		background-repeat:no-repeat;
		background-color: #060c0b;
		@media screen and (min-width: 1790px) {
			background-size: auto;
		}
	}
	.content {
		margin-left: 0px;
		margin-right: auto;
		margin-left: auto;
		width: 984px;
		height: 696px;
		.teaser-intro {
			width: 490px
		}
		h1, h2 {
			width: 100%;
			float: left;
		}
		h1 {
			color: #fffef5;
			font-size:40px;
			font-family: "ff-max-web",sans-serif;
			font-weight: 400;
			line-height: 58px;
			margin-top: 128px;
		}
		h2 {
			color: #f4f4f4;
			font-size: 18px;
			font-family: "ff-max-web",sans-serif;
			font-weight: 300;
			line-height: 29px;
			margin-top: 19px;
			margin-bottom: 55px;
		}
		.visit_blog {
			color: white;
			text-decoration: none;
			padding: 13px 21px;
			border: 2px solid #c3c3c3;
			@include border-radius(3px);
			display: inline-block;
			@include transition (all 0.5s ease-in-out);
			&:hover {
				border: 2px solid #31acee;
			}
		}
	}
	.teaser-images {
		> div {
			position: absolute;
			left: 60%;
			bottom: 0;
			max-width: initial;
			opacity: 0;
			@include animation-name(teaser-devices);
			@include animation-duration(24.0s);
			@include animation-timing-function(ease);
			@include animation-iteration-count(infinite);
			pointer-events: none;
			.no-cssanimations &{
				@include animation(none);
			}
		}
		.teaser-ipad {
			@include background-image(image-url("teaser_ipad.png"));
			width: 653px;
			height: 637px;
			@include animation-delay(0s);
			@include media-retina {
				@include background-image(image-url("teaser_ipad@2x.png"));
				background-size: 653px 637px;
			}
			.no-cssanimations &{
				display: none;
			}
		}
		.teaser-htc {
			@include background-image(image-url("teaser_htc.png"));
			width: 373px;
			height: 618px;
			@include animation-delay(8.0s);
			@include media-retina {
				@include background-image(image-url("teaser_htc@2x.png"));
				background-size: 373px 618px;
			}
			.no-cssanimations &{
				display: none;
			}
		}
		.teaser-mbp {
			@include background-image(image-url("teaser_mbp.png"));
			width: 922px;
			height: 610px;
			@include animation-delay(16.0s);
			@include media-retina {
				@include background-image(image-url("teaser_mbp@2x.png"));
				background-size: 922px 610px;
			}
		}	
	}
}
.teaser-content {
	float: left;
	width: 100%;
	background: #f4f4f4;
	.content {
		margin-left: 0px;
		margin-right: auto;
		margin-left: auto;
		width: 984px;
		cursor: default;
		.teaser-attention {
			font-size: 14px;
			color: #454c57;
			background: #e2e4e7;
			width: 100%;
			@include box-sizing(border-box);
			line-height: 25px;
			padding: 13px 0;
			text-align: center;
			border: 1px solid #cdcfd1;
			margin: 17px 0;
			@include border-radius(5px);
			p {
				margin:0;
				padding: 0 15px;
			}
		}
		.teaser-box {
			cursor: auto;
			float: left;
			width: $gridColumnWidth * (22/3) - 2;
			height: 140px;
			background:white;
			border: 1px solid #e6e6e6;
			@include border-radius(5px);
			margin-right: $gridColumnWidth;
			margin-bottom: 220px;
			@include transition (background-position 0.2s ease);
			&:last-child {
				margin-right:0;
			}
			&:hover {
				background-position: 50% 23px;
				background-color: #fbfbfb;
			}

			h3 {
				width: 100%;
				text-align: center;
				margin-top: 60px;
				margin-bottom: 0;
				font-size: 18px;
				font-weight: 600;
			}
			span {
				width: 100%;
				text-align: center;
				display: block;
			}

		}
		.teaser-card {
				@include background-image(image-url("icons/teaser-card-gray.png"));
				background-repeat: no-repeat;
				background-position: 50% 29px;
				@include media-retina {
			    @include background-image(image-url("icons/teaser-card-gray@2x.png"));
			    background-size: 32px 32px;
			  }
			}
		.teaser-star {
				@include background-image(image-url("icons/teaser-star-gray.png"));
				background-repeat: no-repeat;
				background-position: 50% 29px;
				@include media-retina {
			    @include background-image(image-url("icons/teaser-star-gray@2x.png"));
			    background-size: 32px 32px;
			  }
			}
		.teaser-cursor {
				@include background-image(image-url("icons/teaser-cursor-gray.png"));
				background-repeat: no-repeat;
				background-position: 50% 29px;
				@include media-retina {
			    @include background-image(image-url("icons/teaser-cursor-gray@2x.png"));
			    background-size: 32px 32px;
			  }
			}
	}
}

.form-inline .input-beta-access {
	width: 200px;
	padding: 8px;
	margin-right: 10px;
}

.teaser-hr {
	margin:15px 0;
	float: left;
	position: relative;
	width: 100%;
	line-height: $baseLineHeight;
	height:  $baseLineHeight;
	&:before {
		width: 100%;
		content: "";
		border-bottom: 1px solid #d4d4d4;
		position: absolute;
		top: 50%;
	}
	span {
		margin: 0 auto;
		position: relative;
		width: 190px;
		display: block;
		text-align: center;
		font-size: 15px;
		font-weight: 600;
		color: #323232;
		background-color: #f4f4f4;
	}
}

.metrics-feature, .release-feature {
		div {
			float: right;
			&:first-child {
			margin-left:30px;
		}
		}
	}
.template-feature {
			div {
				float: left;
				&:first-child {
			margin-right:30px;
		}
			}
		}

.feature-box {
	width: 100%;
	> div {
	}
	.feature-box-image {
		width: 605px;
		height: 510px;
		background-position: 0 0;
	}
	.feature-box-content {
		width: 344px;
		margin: 15px 0 0 0;
	}
	h2 {
		color: #0092e1;
		font-size: 30px;
	}
	.release-img {
		@include background-image(image-url("feature_player.png"));
				background-repeat: no-repeat;
				background-position: 50% 0px;
				@include media-retina {
			    @include background-image(image-url("feature_player@2x.png"));
			    background-size: 615px 509px;
			  }
	}
	.template-img {
		@include background-image(image-url("feature_email.png"));
				background-repeat: no-repeat;
				background-position: 50% 0px;
				@include media-retina {
			    @include background-image(image-url("feature_email2x.png"));
			    background-size: 612px 461px;
			  }
	}
	.metrics-img {
		@include background-image(image-url("feature_metrics.png"));
				background-repeat: no-repeat;
				background-position: 50% 0px;
				@include media-retina {
			    @include background-image(image-url("feature_metrics2x.png"));
			    background-size: 637px 495px;
			  }
	}
}



@include modular-mq(PortraitTablets-Desktop) {
	.front-page .content {
		width: 740px;
		@include transition (all 1.0s ease-in-out);
		.teaser-intro {
			width: 390px;
		}
		.teaser-box {
			width: 217px;
			margin-bottom: 120px;
		}
		.form-inline .input-beta-access {
			width: 160px;
		}
	}

	.feature-box {
		.feature-box-content, .feature-box-image {
			width: 100%;
		}
	}
}
@include modular-mq(LandscapePhone-PortraitTable) {
	.account-nav {
			display: none;
		}
	.front-page .teaser {
		@include background-image(image-url("bg_teaser_mobile.jpg"));
		height: 850px;
		&.teaser_thankyou {
      @include background-image(image-url("bg_teaser_thankyou_70.jpg"));
      background-repeat:no-repeat;
      background-color: #060c0b;
      height: auto;
      background-position: 50% 50%;
      padding: 60px 0;
    }
	}


	.front-page .content {
		width: 100%;
		height: auto;
		@include box-sizing(border-box);
		padding: 0 20px;
		.teaser-intro {
			width: 100%;
			@include box-sizing(border-box);
			padding: 0 20px;
		
		h1 {
			margin:25px 0 10px 0;
			font-size: 32px;
			line-height: 48px;

			}
		h2 {
			margin:10px 0 20px 0;
			font-size: 16px;
			}
			.form-inline .input-beta-access {
			width: 130px;
		}
	}

		.teaser-box {
			width: 100%;
			margin-bottom: 15px;
		}
		@include transition (all 1.0s ease-in-out);
		
	}
	.front-page .teaser .teaser-images {
		position: relative;
			div {
				position: absolute;
				left: 10%;
				top: 0;
				max-width: initial;
				opacity: 0;
				@include animation-name(teaser-devices-mobile);
				@include animation-duration(24.0s);
				@include animation-timing-function(ease);
	  		@include animation-iteration-count(infinite);
	  		pointer-events: none;
			}	
		}

	.feature-box {
		.feature-box-content, .feature-box-image {
			width: 100%;
		}
		.feature-box-image {
			background-size: 100%;
		}
	}
}

@include modular-mq(LandscapePhone-Down) {
	.front-page {

		h1 {
			margin:0 10px;
			font-size: 90%;
			}
		h2 {
			margin:10px 0 15px 0;
			}
		.content .teaser-intro .form-inline .input-beta-access {
			width: 100%;
			margin-bottom: 10px;
			@include box-sizing(border-box);
			height: 40px;

		}
		.btn-frontpage {
			width: 100%;
		}
		.teaser .teaser-images > div {
			@include animation(none);
			opacity: 1;
		}
		.teaser .teaser-images .teaser-ipad {display: none;}
		.teaser .teaser-images .teaser-mbp {display: none;}
		.page-footer .block {
			margin-left: 0;
		}
	}

	.teaser-content {
		display: none;
	}
}















/* Animation keyframes */

@include keyframes(teaser-devices) {
  0% {
    left:70%;
    opacity: 0;
  }
  7% {
  	left:56%;
    opacity: 1;
  }
  33% {
  	left:56%;
    opacity: 1;
  }
  35% {
  	opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(teaser-devices-mobile) {
  0% {
    left:20%;
    opacity: 0;
  }
  7% {
  	left:6%;
    opacity: 1;
  }
  33% {
  	left:6%;
    opacity: 1;
  }
  35% {
  	opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
