<h3><strong>Today:</strong> Monday, December 16</h3>
<div class="metrics-activity">
  <div class="metrics-activity-item js-activity-feedback">
    <div class="metrics-activity-heading">
      <a class="metrics-activity-toggle" data-toggle="collapse" href="#metrics-activity-1">
        <span class="activity-time">13:03</span>
        <strong>Karmon</strong> has given feedback
      </a>
    </div>
    <div id="metrics-activity-1" class="collapse">
      <div class="metrics-activity-inner">
        <p>In a well-publicized late 2011 interview, James Blake drew his line in the sand on the Great Dubstep Debates. The boy who fell for the emotional resonance of bone-disintegrating sub-bass only after years of playing piano privately came out against the American version of guys like Skrillex (whom he couldn’t even be bothered naming). Such performers, Blake contended, appealed strictly to a “testosterone-driven, frat-boy market” that couldn’t be more different from the Feist-and-Joni covers and Bon Iver duets pouring out of the Londoner who’d just turned 23.</p>

        <p>Blake argued that his music was not only more egalitarian-- appealing to women and men equally-- but was also a purer representation of dubstep as an idea. It was a misrepresentation of American dubstep’s audiences and a presumptuous statement about What Women Want, sure, but at the same time, it was hard to fault Blake for forcefully trying to stake his claim to a patch of land within a genre broad enough to incorporate a rave resurgence and a brooding folkie.</p>
        <ul class="tracks">
          <li class="track">
            <div class="rating">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
            </div>
            <div class="filename">1. Drake - Hold On, We're Going Home </div>
          </li>
          <li class="track">
            <div class="rating">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
            </div>
            <div class="filename">2. Drake - Hold On, We're Going Home (Feat. Majid Jordan)</div>
          </li>
          <li class="track">
            <div class="rating">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
            </div>
            <div class="filename">3. Drake - Hold On, We're Going Home (Feat. Majid Jordan)</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="metrics-activity-item js-activity-lestens">
    <div class="metrics-activity-heading">
      <span class="metrics-activity-notoggle">
        <span class="activity-time">13:03</span>
        <strong>Kavinsky</strong> has played tracks
      </span>
    </div>
  </div>
  <div class="metrics-activity-item js-activity-feedback">
    <div class="metrics-activity-heading">
      <a class="metrics-activity-toggle " data-toggle="collapse" href="#metrics-activity-3">
        <span class="activity-time">17:03</span>
        <strong>Karmon</strong> has given feedback
      </a>
    </div>
    <div id="metrics-activity-3" class="collapse">
      <div class="metrics-activity-inner">
        <p>In a well-publicized late 2011 interview, James Blake drew his line in the sand on the Great Dubstep Debates. The boy who fell for the emotional resonance of bone-disintegrating sub-bass only after years of playing piano privately came out against the American version of guys like Skrillex (whom he couldn’t even be bothered naming). Such performers, Blake contended, appealed strictly to a “testosterone-driven, frat-boy market” that couldn’t be more different from the Feist-and-Joni covers and Bon Iver duets pouring out of the Londoner who’d just turned 23.</p>

        <p>Blake argued that his music was not only more egalitarian-- appealing to women and men equally-- but was also a purer representation of dubstep as an idea. It was a misrepresentation of American dubstep’s audiences and a presumptuous statement about What Women Want, sure, but at the same time, it was hard to fault Blake for forcefully trying to stake his claim to a patch of land within a genre broad enough to incorporate a rave resurgence and a brooding folkie.</p>
        <ul class="tracks">
          <li class="track">
            <div class="rating">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
            </div>
            <div class="filename">1. Drake - Hold On, We're Going Home </div>
          </li>
          <li class="track">
            <div class="rating">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
            </div>
            <div class="filename">2. Drake - Hold On, We're Going Home (Feat. Majid Jordan)</div>
          </li>
          <li class="track">
            <div class="rating">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
              <img alt="Star on white" src="/assets/icons/star-on-white.png">
            </div>
            <div class="filename">3. Drake - Hold On, We're Going Home (Feat. Majid Jordan)</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a class="activity-show-more">
    Show more
  </a>
</div>
