<h3>Average track-ratings</h3>
<div class="block">
  <ul class="tracks">
    <li class="track">
      <div class="rating">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
      </div>
      <div class="filename">1. Drake - Hold On, We're Going Home </div>
    </li>
    <li class="track">
      <div class="rating">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
      </div>
      <div class="filename">2. Drake - Hold On, We're Going Home (Feat. Majid Jordan)</div>
    </li>
    <li class="track">
      <div class="rating">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
        <img alt="Star on white" src="/assets/icons/star-on-white.png">
      </div>
      <div class="filename">3. Drake - Hold On, We're Going Home (Feat. Majid Jordan)</div>
    </li>
  </ul>
</div>
