<h3>Opens &amp; Feedback</h3>
<div class="block">
  <div class="opened_feedback">
    <span>Opened</span>
    <div>
      <span><%= opens %></span>/<%= recipients %>
    </div>
  </div>
  <div class="opened_feedback">
    <span>Feedback</span>
    <div>
      <span><%= feedback %></span>/<%= recipients %>
    </div>
  </div>
</div>
