<div class="one">
  <strong>Opens</strong> <br/>
  <div class="number blue"><%= opens %></div>
  <div class="number">/<%= recipients %></div>
</div>

<div class="one">
  <strong>Feedbacks</strong> <br/>
  <div class="number blue"><%= feedback %></div>
  <div class="number">/<%= recipients %></div>
</div>
