<h3>Timeline plays &amp; Opens</h3>
<div class="block">
  <h4>Plays</h4>
  <%= render 'bar_chart', dataset: plays, start_at: start %>
  <h4>Opens</h4>
  <%= render 'bar_chart', dataset: opens, start_at: start %>
</div>
