<header class="main-header">
  <h1 class="main-header-title">Update Label</h1>
  <span class="main-header-options">
    Add a new:
    <%= link_to 'Label', new_label_path %>
  </span>
</header>

<%= render 'form' %>
