<%
if @labels.present?
  title = "Your Labels"
else
  title = "Welcome #{current_user.try(:name)}"
end
%>

<section class="section" id="labels">
  <header class="section-header">
    <h1 class="section-header-title"><%= title %></h1>
    <span class="section-header-options">
      Add a new:
      <%= link_to 'Label', new_label_path %>
    </span>
  </header>
  <% if @labels.present? %>
    <%= render @labels %>
  <% else %>
    <div class="main-frame-intro">
      <h2 class="main-frame-title">Hello there! Start by creating a Label!</h2>
      <p class="main-frame-subtitle"><a href="#">Click here</a> to see a video!</p>
    </div>
  <% end %>
</section>
