<%
if @labels.present?
  title = "Your Labels"
else
  title = "Welcome #{current_user.try(:name)}"
end
%>

<section class="section" id="labels">
  <%= render 'header', title: title %>
  
  <% if @labels.present? %>
    <%= render @labels %>
  <% else %>
    <div class="blank-slate">
      <h2 class="blank-slate-title">Hello there! Start by creating a Label!</h2>
      <p class="blank-slate-subtitle"><a href="#">Click here</a> to see a video!</p>
    </div>
  <% end %>
</section>
