<li>
  <%= link_to contact_list.name, contact_list, class: 'title' %>
  <%= link_to 'Delete',  contact_list,
        data:  {
          method:  :delete,
          confirm: 'Are you sure you want to remove this contact list?'
        },
        class: 'action delete' %>
  <%= link_to 'Edit',    [:edit, contact_list],
        class: 'action edit' %>
</li>