<div class="contact-lists faux-table">
  <div class="top">
    <span class="title">Contact Lists</span>
    <span class="count"><%= current_organization.contact_lists.count %></span>
  </div>
  <ul>
    <%= render contact_lists %>
  </ul>
</div>
