<header class="section-header">
  <h1 class="section-header-title"><%= title %></h1>
  <span class="section-header-options">
    Add a new:
    <%= link_to 'Contact List', new_contact_list_path %>
  </span>
</header>
