<section class="section" id="contact_lists">
  <%= render 'contacts/header', title: @contact_list.name %>
  <% if @contacts.present? %>
    <%= render 'contacts', list: @contact_list, contacts: @contacts %>
  <% else %>
    <div class="blank-slate">
      <h2 class="blank-slate-title">Let's add your first contact to this list!</h2>
      <p class="blank-slate-subtitle">
        <a href="#">Click here</a>
        to see a video, or
        <%= link_to 'import', new_contact_list_import_path(@contact_list) %>
        an existing list!
      </p>
    </div>
  <% end %>
</section>
