<div class="teaser">
  <div class="content">
    <div class="teaser-intro">
      <h1>Registration is currently closed</h1>
      <h2>Please sign up for the beta and you will receive an invite for our service in the near future.</h2>
      <%= render 'subscribers/form' %>
    </div>
  </div>
</div>
