.account-nav {
  float: right;
  height: $mainHeaderHeight;
  position: relative;
  &.logged-in {
    border-left: 1px solid rgba(0,54,83, 0.6);
    border-right: 1px solid rgba(0,54,83, 0.6);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.3), 1px 0 0 rgba(255, 255, 255, 0.3);
  }

  .page-public-release & {
    border-left: 1px solid rgba(45,45,45, 0.9);
    border-right: 1px solid rgba(45,45,45, 0.9);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1), 1px 0 0 rgba(255, 255, 255, 0.1);
  }

  .btn {
    position: absolute;
    @include vertical-middle;
    padding: 0;
    right: 0;
    height: 32px;
    line-height: 30px;
    width: 107px;
    @include box-sizing(border-box);
  }

  a span {
    background-repeat: no-repeat;
    background-position: right 50%;
    padding-right: 15px;
    @include background-image(image-url("icons/dropdown_arrow.png"));
    @include media-retina {
      @include background-image(image-url("icons/dropdown_arrow@2x.png"));
      background-size: 8px 6px;
    }
  }
  
  img {
    height: $baseLineHeight * 1.5;
    width:  $baseLineHeight * 1.5;
    margin-right: $gridColumnWidth * 0.12;
    
    @include border-radius(4px);
    @include box-shadow(0px 0px 1px 1px #005786); 
  }
  
  .user, .login {
    display: block;
    height: $mainHeaderHeight;
    line-height: $mainHeaderHeight;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    padding: 0 ($gridColumnWidth / 4);
    /*border-left: 1px solid rgba(255, 255, 255, 0.3);*/

      .page-public-release & {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }

    span {
      text-decoration: underline;
      color: white;
    }
    
    &:hover {
      text-decoration: none;
      
      span {
        text-decoration: none;
      }
    }
  }
  .dropdown-arrow {
    width: 0; 
    height: 0; 
    border-bottom: 12px solid black; 
    border-left: 12px solid transparent; 
    border-right: 12px solid transparent; 
    position: absolute;
    top: -12px;
    right: 10px;
    &:after {
       content: "";
      width: 0; 
      height: 0; 
      border-bottom: 10px solid #242424; 
      border-left: 10px solid transparent; 
      border-right: 10px solid transparent; 
      position: absolute;
      top: 2px;
      right: -10px;
    };
  }
  .dropdown-menu {
    background: black;
    border: 1px solid #090909;
    /*@include box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.65));*/
    @include border-radius(3px); 
    padding: 0;
    right: -8px;
    left: auto;
    width: 228px;
    @include box-shadow(border-box);
    @include animation-name(dropdown-menu);
    @include animation-duration(0.2s);
    @include animation-timing-function(ease);

    li {
      a {
        color: #ffffff;
        font-weight: 600;
        font-size: 13px;
        border-top: 1px solid #000000;
        height: ($baseLineHeight * 1.6);
        line-height: ($baseLineHeight * 1.6);
        background-color: #242424;
        text-indent: 24px;
        background-position: 15px 50%;
        background-repeat: no-repeat;
        &:hover {
          background-color:#3f3f3f;
        };
        &.dd-settings {
          border-top: none;
          @include border-top-radius(2px);
          @include background-image(image-url("icons/settings.png"));
          @include media-retina {
            @include background-image(image-url("icons/settings@2x.png"));
            background-size: 18px 18px;
          }
        }
        &.dd-payment {
          @include background-image(image-url("icons/payment.png"));
          @include media-retina {
            @include background-image(image-url("icons/payment@2x.png"));
            background-size: 18px 18px;
          }
        }
        &.dd-logout {
          @include border-bottom-radius(2px);
          @include background-image(image-url("icons/logout.png"));
          @include media-retina {
            @include background-image(image-url("icons/logout@2x.png"));
            background-size: 18px 18px;
          }
          &:hover {
            background-color:#cc3435;
          };
        }
      }
    }
  }
}

@include keyframes(dropdown-menu) {
  0% {
    top:85%;
    opacity: 0;
  }
  100% {
    top:100%;
    opacity: 1;
  }
}
