.account-nav {
  float: right;
  height: $mainHeaderHeight;
  position: relative;
  /*border-left: 1px solid rgba(0,54,83, 0.6);
  border-right: 1px solid rgba(0,54,83, 0.6);*/

  .page-public-release & {
    border-left: 1px solid rgba(45,45,45, 0.9);
    border-right: 1px solid rgba(45,45,45, 0.9);
  }

  .btn {
    position: absolute;
    @include vertical-middle;
    padding: 0;
    right: 0;
    height: 32px;
    line-height: 30px;
    width: 107px;
    @include box-sizing(border-box);
  }


  
  img {
    height: $baseLineHeight * 1.5;
    width:  $baseLineHeight * 1.5;
    margin-right: $gridColumnWidth * 0.12;
    
    @include border-radius(4px);
    @include box-shadow(0px 0px 1px 1px #005786); 
  }
  
  .user, .login {
    display: block;
    height: $mainHeaderHeight;
    line-height: $mainHeaderHeight;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    padding: 0 ($gridColumnWidth / 4);
    /*border-left: 1px solid rgba(255, 255, 255, 0.3);*/

      .page-public-release & {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }

    span {
      text-decoration: underline;
      color: white;
    }
    
    &:hover {
      text-decoration: none;
      
      span {
        text-decoration: none;
      }
    }
  }
}