.shortcut {
  $shortcut-height: ($baseLineHeight * 1.75 - 2); // Remove 2px for border
  
  border: 1px solid #b3b3b3;
  height: $shortcut-height;
  line-height: $shortcut-height;
  margin-bottom: ($baseLineHeight / 2);
  display: block;
  position: relative;
  background-repeat: repeat;
  background-position: 0 0;
  @include background-image(linear-gradient(#fefefe, #f5f5f5));
  @include border-radius(3px);
  @include box-shadow(rgba(100,100,100, 0.2) 0 1px 1px);
  
  .title {
    display: block;
    color: #808080;
    font-size: 13px;
    font-weight: bold;
    text-indent: 11px;
    border-left: 1px solid #b3b3b3;
    margin-left: $gridColumnWidth;
  }
  
  .number {
    height: $baseLineHeight;
    line-height: $baseLineHeight;
    
    $number-offset: ($shortcut-height - $baseLineHeight) / 2;
    position: absolute;
    right: $number-offset;
    top: $number-offset;
    
    background: #808080;
    color: white;
    padding: 0 8px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    @include box-shadow(#636363 0px 1px 5px 1px inset); 
  }
  
  &:before {
    display: block;
    width: $gridColumnWidth;
    height: $shortcut-height;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: (($gridColumnWidth - 16px) / 2) (($shortcut-height - 16px) / 2);
  }
  
  &.labels-shortcut:before {
    @include background-image(image-url("icons/label.png"));
    @include media-retina {
      @include background-image(image-url("icons/label@2x.png"));
    }
  }
  
  &.releases-shortcut:before {
    @include background-image(image-url("icons/releases.png"));
    @include media-retina {
      @include background-image(image-url("icons/releases@2x.png"));
    }
  }
  
  &.artists-shortcut:before {
    @include background-image(image-url("icons/artists.png"));
    
    @include media-retina {
      @include background-image(image-url("icons/artists@2x.png"));
    }
  }
  
  &.contacts-shortcut:before {
    @include background-image(image-url("icons/contacts.png"));
    
    @include media-retina {
      @include background-image(image-url("icons/contacts@2x.png"));
    }
  }
}
