html,
body {
  height: 100%;
  margin:  0;
  padding: 0;
}

.page-wrapper {
  margin: 0 auto; // Negative indent footer by it's height
}

.content-wrapper {
  margin: 0 auto;
  width: 980px;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-content {
  float: left;
  width: 729px;
}

.page-footer {
  height: $footerHeight;
}
