$footerHeight: 209px !default;

html,
body {
  height: 100%;
  margin:  0;
  padding: 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footerHeight); // Negative indent footer by it's height 
}

.main-wrapper {
  margin: 0 auto;
  width: 980px;
  overflow: hidden;
  padding-top:40px;
  padding-bottom: 40px;
}

.main-content {
  float: left;
  width: 729px;
}

.main-footer {
  height: $footerHeight;
}
