//
// Custom Variables
//

$primaryColor: #008eda;

$mainHeaderHeight: 52px;
//
// Twitter Bootstrap
// Default: http://twitter.github.io/bootstrap/customize.html#variables
//

$bodyBackground: #f4f4f4;
