<div id="sidebar">
    <h3>Overview</h3>
    
    <div class="knop cd-icon">
      <span class="title">See Labels</span>
      <span class="number">1</span>
    </div>
    <div class="knop music-icon">
      <span class="title">See Releases</span>
      <span class="number">5</span>
    </div>
    <div class="knop user-icon">
      <span class="title">See Artists</span>
      <span class="number">5</span>
    </div>
    
    <h3>account</h3>
    <div class="account">
      <h4>Disk space</h4>
      You have used <strong>0.0 GB</strong> of <strong>5 GB</strong>
      <span class="account-progress">
        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>
      </span>
      <h4>Inclusive bandwith</h4>
      You have used <strong>0.0 GB</strong> of <strong>5 GB</strong>
      <span class="account-progress"></span>
    </div>
</div>