<footer class="main-footer">
  <div class="content">
    <div class="block">
      <h4>Help</h4>
      <ul>
        <li>Take the tour</li>
        <li>Help</li>
        <li>Videos</li>
        <li>Support</li>
      </ul>
    </div>
    <div class="block">
      <h4>Developers</h4>
      <ul>
        <li>Get started</li>
        <li>Documentation</li>
        <li>API blog</li>
      </ul>
    </div>
    <div class="block">
      <h4>Contact</h4>
      <ul>
        <li>mail@soundcampaign.com</li>
        <li>Sesamstraat 111</li>
        <li>Maastricht</li>
      </ul>
    </div>
  </div>
</footer>