<footer class="page-footer">
  <div class="content">
    <div class="block">
      <h4>About</h4>
      <ul>
        <li><%= link_to 'Blog', Settings.urls.blog %></li>
      </ul>
    </div>
    
    <!--
    <div class="block">
      <h4>Developers</h4>
      <ul>
        <li>Get started</li>
        <li>Documentation</li>
        <li>API blog</li>
      </ul>
    </div>
    -->
    
    <div class="block">
      <h4>Contact</h4>
      <ul>
        <li><%= mail_to Settings.contact_email %></li>
        <% Settings.contact_address.split("\n").each do |line| %>
          <li><%= line %></li>
        <% end %>
      </ul>
    </div>
  </div>
</footer>