<div id="top">
  <div class="content">
    <div id="logo">
        Soundsends12
    </div>
    
    <a href="#">
      <div id="user">
          <img src="images/kanye-west.jpeg">
          <span>Infinitize MUSIC ProductionZz</span>
      </div>
    </a>
    
    <nav>
      <ul>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Templates</a></li>
          <li><a href="#">Contactlists</a></li>
      </ul>
    </nav>
  </div>
</div>
