.page-footer {
  background: $footerBackgroundColor;
  color: darken(white, 20%);
  
  .content {
    @include container-fixed;
    clear: both;
    width: $siteWidth;
    @include box-sizing(border-box);
    padding: 0 20px;
  }
  
  .block {
    @include makeColumn(4, 2);
    margin-top:($baseLineHeight * 1.5);
    margin-bottom: ($baseLineHeight * 1.5);
    &:first-child {
      margin-left: 0;
    }
  }
  
  a {
    color: white;
    
    &:hover { 
      text-decoration: underline;
      color: darken(white, 20%);
    }
  }
  
  h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: ($baseLineHeight * 1.5);
  }
  
  ul {
    list-style:none;
    margin:0;
    font-size: 13px;
  }
  
  
}

.page-public-release {
  .page-footer {
    @include modular-mq(LandscapePhone-PortraitTable) {
      margin:0;
    }
    
    .content {
      position: relative;
      z-index: 3;
      transition: all 0.5s ease;
      @include modular-mq(PortraitTablets-Desktop) {
        width: 760px;
      }
      @include modular-mq(LandscapePhone-PortraitTable) {
        width: auto;
      }
    }
    
    span {
      font-size: 11px;
      float: right;
      margin: 10px 0;
    }
    
    img {
      height: 14px;
      float: right;
      margin: 14px 5px;
    }
  }
}
