$pageHeaderGradientStart: lighten($primaryColor, 10%) !default;
$pageHeaderGradientEnd:    darken($primaryColor,  2%) !default;

.page-header {
  height: $mainHeaderHeight;
  margin: 0;
  padding: 0;
  outline: 1px solid #207aa0;
  border: 0;
  border-top: solid 1px rgba(255,255,255, 0.5);
  background-color: $primaryColor;
  @include background-image(linear-gradient($pageHeaderGradientStart, $pageHeaderGradientEnd));
  @include box-shadow(rgba(black, 0.2) 0 2px 3px);
  
  .content {
    margin: 0 auto;
    width: 980px;
    border-right: 1px solid rgba(255,255,255, 0.3);
    height:91px;
  }
}
