.faux-table {
  @include border-radius(3px);
  border-top: 1px solid #207aa0;
  
  // TOP:
  
  .top {
    @include box-header;

    
    .title {
      padding-left: ($gridColumnWidth / 2) - 2;
    }
  }
  
  // BLACK BAR:
  
  .bar {
    height: $baseLineHeight * 2 - 2;
    line-height: $baseLineHeight * 2 - 2;
    background: #2D2D2D;
    color: white;
    font-size: 13px;
    border: 1px solid #000000;
    padding-left: ($gridColumnWidth / 2 - 2);
  }
  
  // LIST:
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0 ;
    border-bottom: 1px solid #C0C0C0 ;
  }
  
  li {
    border-top: 1px solid #C0C0C0;
    font-size: 13px;
    height: ($baseLineHeight * 2.7) - 1;
    line-height: ($baseLineHeight * 2.7) - 1;
    padding-left: ($gridColumnWidth / 2 - 1);
    @include text-shadow(white 1px 1px 1px);
    background: #fff;
    
    &:first-child {
      margin-top: -1px;
    }
    
    &:nth-of-type(even) {
     background:#F6F6F6;
    }
    
    .title {
      float: left;
      color: #555555;
    }
    
    a.title {
      font-weight: bold;
    }
  }
  
  // ACTIONS:
  
  .action {
    display: block;
    float: right;
    width: $gridColumnWidth * 1.25;
    height: ($baseLineHeight * 2.7) - 1;
    border-left:  1px solid #acacac;
    position: relative;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    
    &:before {
      display: block;
      width: $gridColumnWidth * 1.25 - 1;
      height: ($baseLineHeight * 2.7) - 1;
      position: absolute;
      right: 0;
      top: 0;
      border-left: 1px solid #fff;
      content: "";
    }
  }
  
  .edit {
    @include background-image(image-url("icons/edit-dark.png"));
    background-size: 16px 16px;
    text-indent: -3000em;
    
    @include media-retina {
      background-image: image-url("icons/edit-dark@2x.png");
      background-size: 16px 16px;
    }
    &:hover {
      @include background-image(image-url("icons/edit-dark-active.png"));
    
      @include media-retina {
        background-image: image-url("icons/edit-dark-active@2x.png");
      }
    }
  }
  
  .delete {
    @include background-image(image-url("icons/remove_light.png"));
    background-size: 16px 16px;
    text-indent: -3000em;
    
    @include media-retina {
      @include background-image(image-url("icons/cross_light@2x.png"));
      background-size: 20px 20px;
    }
  }
  
  .metrics {
    @include background-image(image-url("icons/metrics-dark.png"));
    background-size: 15px 16px;
    text-indent: -3000em;
    
    @include media-retina {
      @include background-image(image-url("icons/metrics-dark@2x.png"));
      background-size: 15px 16px;
    }
    &:hover {
      @include background-image(image-url("icons/metrics-dark-active.png"));
    
      @include media-retina {
        background-image: image-url("icons/metrics-dark-active@2x.png");
      }
    }
  }
  
  .public {
    @include background-image(image-url("icons/public-dark.png"));
    background-size: 20px 13px;
    text-indent: -3000em;
    
    @include media-retina {
      background-image: image-url("icons/public-dark@2x.png");
      background-size: 20px 13px;
    }
    &:hover {
      @include background-image(image-url("icons/public-dark-active.png"));
    
      @include media-retina {
        background-image: image-url("icons/public-dark-active@2x.png");
      }
    }
  }
  
  .send {
    @include background-image(image-url("icons/send-dark.png"));
    background-size: 16px 12px;
    text-indent: -3000em;
    
    @include media-retina {
      background-image: image-url("icons/send-dark@2x.png");
      background-size: 16px 12px;
    }
    &:hover {
      @include background-image(image-url("icons/send-dark-active.png"));
    
      @include media-retina {
        background-image: image-url("icons/send-dark-active@2x.png");
      }
    }
  }
  
  .resend {
    @include background-image(image-url("icons/resend_light.png"));
    background-size: 19px 16px;
    text-indent: -3000em;
    
    @include media-retina {
      background-image: image-url("icons/resend_light@2x.png");
      background-size: 20px 20px;
    }
  }
}