.releases {
  .edit {
    background: image-url("icons/edit_light.png") center no-repeat;
    text-indent: -3000em;
  }
  
  .public {
    background: image-url("icons/public_light.png") center no-repeat;
    text-indent: -3000em;
  }
  
  .send {
    background: image-url("icons/send_light.png") center no-repeat;
    text-indent: -3000em;
  }
}

/*
.releases {
  ul.sent {
    li {
      .title {
        width:473px;
      }
      
      .feedback {
        background: image-url("icons/feedback_light.png") 15px 10px no-repeat;
      }
      
      .switch {
        float:left;
        width:98px;
        height:38px;
        border-left:1px solid #fff;
        border-right:1px solid #acacac;
        border-top: 1px solid #f8f8f8;
        background: image-url("icons/feedback_light.png") 15px 10px no-repeat;
      }
      
      .remove {
        float:left;
        width:49px;
        height:38px;
        border-left:1px solid #fff;
        border-right:1px solid #acacac;
        border-top: 1px solid #f8f8f8;
        background: image-url("icons/remove_light.png") 16px 12px no-repeat;
      }
    }
  }
}
*/