<tr>
  <td><%= link_to contact.email, "mailto:#{contact.email}" %></td>
  <td><%= contact.name %></td>
  <td class="main-table-btn-edit">
    <%= link_to 'Edit',  [contact.list, contact] %>
  </td>
  <td class="main-table-btn-del">
    <%= link_to 'Delete', [contact.list, contact],
          data: {
            method: :delete,
            confirm: 'Are you sure?'
          } %>
  </td>
</tr>
