<header class="section-header">
  <h1 class="section-header-title"><%= title %></h1>
  <span class="section-header-options">
    Add a new:
    <%= link_to 'Contact', new_contact_list_contact_path(@contact_list) %>
  </span>
</header>
