<style type="text/css">
.cover-table {
  border: 0;
  -premailer-cellpadding: 20;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  width: 100%;
}

.cover-table td {
  border-collapse: collapse;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.cover-img {
  margin: 0;
  padding: 0;
  max-width: 180px;
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  display: inline;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
</style>
<table class="cover-table">
  <tbody>
    <tr>
      <td>
        <%= image_tag release.cover.url, alt: '', class: 'cover-img' if release.cover.present? %>
      </td>
    </tr>
  </tbody>
</table>
