<style type="text/css">
.release-header {
  border: 0;
  -premailer-cellpadding: 20;
  -premailer-width: 100%;
  width: 100%;
}

.release-header td {
  border-collapse: collapse;
  color:rgb(34,34,34);
  font-family:Helvetica Neue, Helvetica,Arial,sans-serif;
  font-size:13px;
  line-height:22px;
  text-align:left;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}

.release-header .release-title {
  color:rgb(51,51,51);
  font-size:30px;
  line-height:35px;
}

.release-header .label-name {
  
}
</style>
<table class="release-header">
  <tbody>
    <tr>
      <td>
        <span class="release-title">
          <%= release.title %>
        </span>
        <br><br>
        <strong class="label-name">
          <%= [label.name, release.catid].compact.join(' ') %>
        </strong>
        · 
        <span class="release-metadata">
          Release date : <%= (release.date || Time.now).strftime('%d/%m/%Y') %>
        </span>
      </td>
    </tr>
  </tbody>
</table>
