<table border="0" cellpadding="20" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top" style="border-collapse: collapse;color:rgb(34,34,34);font-family:Helvetica Neue, Helvetica,Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
        <span style="color:rgb(51,51,51);font-size:30px;"><%= release.title %></span>
        <br><br>
        <strong><%= [label.name, release.catid].join(' ') %></strong>
        · Release date : <%= (release.date || Time.now).strftime('%d/%m/%Y') %>
      </td>
    </tr>
  </tbody>
</table>
