<style type="text/css">
.release-tracks {
  border: 0;
  -premailer-cellpadding: 20;
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  width: 100%;
}

.release-tracks td {
  border-collapse: collapse;
  color: rgb(34,34,34);
  font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 22px;
  text-align: left;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.release-tracks ul {
  list-style: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}

.release-url {
  background-color: rgb(51,51,51);
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 45px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
</style>
<table class="release-tracks">
  <tbody>
    <tr>
      <td>
        <ul>
          <% tracks.each.with_index do |track, index| %>
          <li><strong><%= index + 1%>.</strong> <%= track.artist %> - <strong><%= track.title %></strong></li>
          <% end %>
        </ul>
        <%= link_to release_url(release, secret: @secret), class: 'release-url' do %>
          <strong>Download Release</strong>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
