<div class="teaser-content">
  <div class="content">
    <div class="teaser-attention">
      <p>We are currently in <strong>private beta</strong>, Sound Campaign will be publicly available in 2014.</p>
      <p>If you want to stay informed enter your email adres above and keep an eye on <%= link_to 'our blog', Settings.urls.blog %>.</p>
    </div>
    
    <div class="teaser-box teaser-card">
      <h3>Pricing</h3>
      <span>Coming soon!</span>
    </div>
    
    <div class="teaser-box teaser-star">
      <h3>Features</h3>
      <span>Coming soon!</span>
    </div>
    
    <div class="teaser-box teaser-cursor">
      <h3>Try it</h3>
      <span>Coming soon!</span>
    </div>
  </div>
</div>