<div class="teaser-content">
  <div class="content">
    <div class="teaser-attention">We are currently in private beta, sound campaign will be publicly available in 2014.</div>
    
    <div class="teaser-box teaser-card">
      <h3>Pricing</h3>
      <span>Coming soon!</span>
    </div>
    
    <div class="teaser-box teaser-star">
      <h3>Features</h3>
      <span>Coming soon!</span>
    </div>
    
    <div class="teaser-box teaser-cursor">
      <h3>Try it</h3>
      <span>Coming soon!</span>
    </div>
  </div>
</div>
