<div class="teaser-content">
  <div class="content">

    <div class="teaser-attention">
      <p>We are currently in <strong>private beta</strong>, Sound Campaign will be publicly available in 2014.</p>
      <p>If you want to stay informed enter your email adres above and keep an eye on <%= link_to 'our blog', Settings.urls.blog %>.</p>
    </div>

    <div class="teaser-hr">
      <span>Some of our features</span>
    </div> 

    <div class="feature-box release-feature">
      <div class="feature-box-content">
        <h2>Release page</h2>
        <p><strong>One of the key ingredients of the release page is our music player. It integrates every element a receiver needs to give feedback and download the audio files you send.</strong></p>
        <p>Your uploaded audio files will be downsampled to 96kbps. After feedback and rating is submitted the high quality files will be available as download.</p>
      </div>
      <div class="feature-box-image release-img">
      </div>
    </div>

    <div class="teaser-hr">
    </div>  

    <div class="feature-box template-feature">
    <div class="feature-box-content">
        <h2>Email template</h2>
        <p><strong>We provide an easy to use emailtemplate. Making sure your recipients get your release information as you intended.</strong></p>
        <p>Your recipients first encounter with a release is the email you will send to them. Getting it right is quite critical to further steps they take. Since e-mail can be quite tricky we have provided templates that just work.</p>
      </div>
      <div class="feature-box-image template-img">
      </div>
    </div>

    <div class="teaser-hr">
    </div> 

    <div class="feature-box metrics-feature">
      <div class="feature-box-content">
        <h2>Metrics page</h2>
        <p><strong>Tracking your campaign is easy with our release dashboard. Each campaign will be measured with various statistics and metrics so you can see what’s going on.</strong></p>
        <p>Our metrics page is the perfect tool for tracking the status of your release. Included is a list of feedback by your contacts.</p>
      </div>
      <div class="feature-box-image metrics-img">
      </div>
    </div>
    
  
  </div>
</div>