<header class="section-header">
  <h1 class="section-header-title"><%= title %></h1>
  <span class="section-header-options">
    Add a new:
    <%= link_to 'Subscriber', new_subscriber_path(force: true) %>
  </span>
</header>
