<div class="teaser">
  <div class="content">
    <div class="teaser-intro">
      <h1>Music promotion the beautiful and easy way.</h1>
      <h2>Sound Campaign is an online promotion tool for labels and music professionals. Send audio campaigns with functional e-mail templates and beautiful online pages.</h2>
      
      <%= render 'form' %>
    </div>
  </div>
  
  <div class="teaser-images">
    <div class="teaser-ipad"></div>
    <div class="teaser-htc"></div>
    <div class="teaser-mbp"></div>
  </div>
</div>
