<table class="table table-striped main-table">
  <thead class="main-table-head">
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody class="main-table-body">
    <%= render subscribers %>
  </tbody>
</table>