<div class="teaser teaser_thankyou">
  <div class="content">
    <div class="teaser-intro">
      <h1>Thank you for signing up to the betalist.</h1>
      <h2>While we get ready for lift off you might be interested in staying up to date with our progress.</h2>
      <%= link_to 'Visit our blog', Settings.urls.blog, class: 'visit_blog' %>
    </div>
  </div>
</div>
