<div id="teaser_forms">
  <div class="container-fluid" id="subscribe">
    <div class="row-fluid">
      <div class="span12">
        <div class="top">Notify me at launch!</div>
      </div>
    </div>
    <div class="row-fluid bottom">
      <div class="form">
        <%= form_tag subscribers_path, method: 'post', html: { class: 'form-inline' } do %>
          <div class="span9">
            <%= text_field_tag 'email', @subscriber.email, placeholder: 'Email address here', class: 'email' %>
          </div>
          <div class="span3">
            <button type="submit" class="btn teasersubmit">Sign up!</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>