<!--
<div class="release-content-group">
  <span class="release-content-title">Schedule</span>
  
  <div class="release-list">
    <div class="release-list-select">
      <div class="release-list-select-icon"></div>
      <div class="release-list-select-date">
        <input type="text" value="Select date" class="datepicker_recurring_start" />
      </div>
      <div class="release-list-select-time">
        <input type="text" value="12:30" />
      </div>
      <div class="release-list-select-list">
        <select class="select selectpicker" title='Select contactlist'>
          <option></option>
          <option>Blue</option>
          <option>Red</option>
          <option>Green</option>
          <option>Yellow</option>
          <option>Brown</option>
        </select>
      </div>
      <div class="release-list-select-del"></div>
    </div>
  </div>

   <div class="release-list-add">
     Click here to add a date and contactlist
   </div>
   
   </!--
      <div class="release-end">
        <div class="release-list-select-icon"></div>
        <div class="release-list-select-date"></div>
        <div class="release-list-select-text">The end date for your campaign</div>
      </div>
   --/>
</div>
-->
