<% title "Create \"#{@release.title}\" Campaign" %>
<div class="release-campaign">
  <div class="release-header">
    <span class="release-header-title">Let's start the campaign for: <%= @release.title %></span>
  </div>
  
  <%= render 'steps', step: 1 %>
  <%= render 'form'           %>
</div>
