//
// Variables:
//

@import 'base/variables';

//
// Libraries:
//

@import 'bourbon';
@import 'twitter/bootstrap';
@import 'lib/bootstrap-editable';

//
// Custom Mixins:
//

@import 'mixins/text-shadow';
@import 'mixins/border-radius';

//
// Layout:
//

@import 'modules/layout/header';
@import 'modules/layout/footer';
@import 'modules/layout/sidebar';
@import 'modules/layout/main-content';

//
// Collections:
//

@import 'modules/collections/main-table';
@import 'modules/collections/releases';

//
// Boxes:
//

@import 'modules/boxes/label';
@import 'modules/boxes/release';
@import 'modules/boxes/account-status';

//
// Layout:
//

body {
  background: #f4f4f4;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h3 {
  font-size: 13px;
  font-weight: bold;
  color: #323232;
}

#center {
  margin: 0 auto;
  width: 980px;
  overflow: hidden;
  padding-top:40px;
  padding-bottom: 40px;
  
  #sidebar {
   float: left;
   width:227px;
   margin-right:24px;
  }
  
  #main {
    float: left;
    width:729px;
  }
}
