<header class="section-header">
  <h1 class="section-header-title"><%= title %></h1>
  <span class="section-header-options">
    Invite a new:
    <%= link_to 'Subscriber', subscribers_path %>
  </span>
</header>
