<table class="table table-striped main-table organizations-table">
  <thead class="main-table-head">
    <tr>
      <th class="org-id">ID</th>
      <th class="org-name">Name</th>
      <th class="org-last-sign-in">Last sign in</th>
      <th class="org-counters">Counters</th>
      <th class="org-usage">Usage</th>
    </tr>
  </thead>
  <tbody class="main-table-body">
    <%= render organizations %>
  </tbody>
</table>