<div class="release-content">
  <h1>Diynamic #058 - Wowshit EP</h1>
  <p>With its 58th announcement, Diynamic presents a three track Various Artists EP which will surely make every club and Open Air go insane. Nobody Else is a collaboration between Netherlands export Karmon and NTFO, who already appears on the Various Artist EP and on H.O.S.H.'s latest EP. "Nobody Else" already got huge attention by the club scene.</p>
  <p>With its bouncy baseline and its driving hats highlighted by spherically playful notes "Nobody Else" immediately casts a spell over you. With his second contribution, Karmon creates a wonderful interaction between good and evil. With the funky brass synth on top of a pumping baseline "Wowshit" is a worthy employer name for this EP and a proof for of what 24 year old Karmon is capable of.</p>
  <p>On the B Side Betoko delivers a melodic dance tune. "Raining Again" convinces by a deep male vocal with is supported by dramatic organs and a bouncy baseline. To be honest, the meaning of the hook is familiar to everyone..</p>
</div>
