<div class="release-player">
  <div class="releases faux-table">
    <div class="top">
      <span class="title">Diynamic #058 - Wowshit EP</span>
    </div>
    <div class="player" style="height:147px">
      <div class="timeline">
        <div class="waveform">
          <!-- temp waveform img -->
          <%= image_tag("temp/temp_waveform.png", :style => "width:100%;height:100%") %>
        </div>
        <div class="loader" style="width:50%"></div>
        <div class="location" style="left:25%"></div>
      </div>
      <div class="controls">
        <div class="left"></div>
        <div class="playpause"></div>
        <div class="right"></div>
      </div>
      <div class="time">01:34 / 06:34 01. Karmon &amp; NTFO - <strong>Nobody Else</strong></div>
      <div class="volume">
      </div>
    </div>
    <div class="bar">
      <span>01. Karmon &amp; NTFO - <strong>Nobody Else</strong> (Original Mix)</span>
      <a class="download">download</a>
      <div class="star"></div>
    </div>
    <div class="bar">
      <span>02. Karmon - <strong>Wowshit</strong> (Original Mix)</span>
      <a class="download">download</a>
      <div class="star"></div>
    </div>
    <div class="bar">
      <span>03. Betoko - <strong>Raining Again</strong> (Original Mix)</span>
      <a class="download">download</a>
      <div class="star"></div>
    </div>
    <div class="bar">
      <a class="download-release">Download release as a zipfile</a>
    </div>
    <div class="feedback">
      <span>Your feedback</span>
      <textarea></textarea>
      <button class="btn btn-primary" type="button">Submit feedback</button>
    </div>
  </div>
</div>
