<li>
  <span class="title">
    <strong><%= release.title %></strong> (Artists)
  </span>
  <%= link_to 'Edit',    [:edit, release],
        class: 'edit' %>
  <%= link_to 'Public', '#TODO',
        class: 'public' %>
  <%= link_to 'Send',   '#TODO',
        class: 'send' %>
</li>