<%
pending  = releases.pending.order_by_creation
finished = releases.finished.order_by_send_date
%>
<div class="releases faux-table">
  <div class="top">
    <span class="title">Releases</span>
    <span class="count"><%= releases.count %></span>
  </div>
  <% if pending.present? %>
    <div class="bar">Pending releases</div>
    <ul>
      <%= render pending %>
    </ul>
  <% end %>
  <% if finished.present? %>
    <div class="bar">Delivered releases</div>
    <ul>
      <%= render finished %>
    </ul>
  <% end %>
</div>
