<li>
  <span class="title">
    <strong><%= release.title %></strong> (Artists)
  </span>
  <%= link_to 'Edit',    [:edit, release],
        class: 'action edit' %>
  <%= link_to 'Public',  release,
        class: 'action public' %>
  <%= link_to 'Send',    [release, :campaign],
        class: 'action send' %>
</li>