<aside id="sidebar" class="main-sidebar">
  <div class="release-cover">
    <%= image_tag("release-cover.png", :alt => "Release cover") %>
  </div>
  <div class="release-info">
    <h3>Label Information</h3>
    <ul>
      <li><strong>Diynamic</strong></li>
      <li>Adriano Trolio</li>
      <li>Talstrasse 9 </li>
      <li>D-20359 Hamburg</li>
    </ul>
    <ul>
      <li><a href="mailto:adriano@diybookings.com">adriano@diybookings.com</a></li>
      <li>+31 (0)6 12 33 48 65 32</li>
    </ul>
  </div>
</aside>
